{{ form_start(productForm) }}
<div class="container" style="max-width: 750px;">
	<div class="mx-2 my-3">
		{{ form_row(productForm.name) }}
	</div>
	<div class="mx-2 my-3">
		{{ form_row(productForm.description) }}
	</div>
	<div class="mx-2 my-3">
		{{ form_row(productForm.categories) }}
	</div>
	<div class="mx-2 my-3">
		{{ form_row(productForm.price) }}
	</div>
	<div class="mx-2 my-3">
		{{ form_row(productForm.stock) }}
	</div>
	{# on affiche les images si on est en édition #}
	{% if app.request.attributes.get('_route') == 'admin_products_edit' %}
		<div class="mx-2 my-3">
			<h2>Images</h2>
			{% for image in product.images %}
				<div>
					<img src="{{ asset('assets/uploads/products/mini/300x300-' ~ image.name) }}" alt="Image" width="150">
					<a href="{{ path('admin_products_delete_image', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">Supprimer</a>
				</div>
			{% endfor %}
		</div>
	{% endif %}
    <div class="mx-2 my-3">
        {{ form_row(productForm.images) }}
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-outline-success">{{ button_label|default('Ajouter') }}</button>
    </div>
</div>
{{ form_end(productForm) }}
